h1 {
  color: black;
  margin-left:75px;
  margin-top:100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#passcode{
  font-size:38px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:150px;
  margin-top: 50px;
}

/* table, th, td {
  border: none;
} */

/* td {
  padding:2%;
} */

table {
  margin-left:12.5%;
  margin-right:12.5%;
  width: 75%;
}

.numButton{
  height:12vh;
  width:10vw;
  padding-top:1vh;
}
