h1 {
  color: black;
  margin-left:75px;
  margin-top:100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#passcode{
  font-size:38px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:42%;
  margin-top: 12.5%;
}

table {
  position:fixed;
  top:40%;
  margin-left:7%;
  margin-right:12.5%;
  width: 80%;
}

.numButton{
  height:12vh;
  width:25vw;
  padding-top:2vh;
}
